:root {
    --background: #ffffff;
    --primary: #000000;
    --secondary: #d4d6da;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100vw;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
}

header .material-symbols-outlined {
    justify-self: start;
    margin-left: 15px;
}

header .new-game {
    justify-self: end;

}

header h1 {
    grid-column: 2;
}

.main {
    display: grid;
    grid-template-columns: 200px auto 150px;
    height: 90vh;
}

.central {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.game-board {
    padding: 20px 0;
}

.board-row {
    display: grid;
    grid-template-columns: repeat(5, 55px);
    justify-content: center;
    margin-bottom: 5px;
}

.tile {
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid var(--secondary);
    align-items: center;
    justify-content: center;
}

#keyboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 8px;
}

.key-row {
    display:flex;
    justify-content:center;
    gap:6px;
    margin-bottom: 5px;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 30px;
    flex: 1;
    border: 1px solid var(--secondary);
}

#enter {
    min-width: 55px;
}